<section id="servicosSection" class="box">
    <div class="cabeçalho">Serviços</div>
    <div id="servicos">

    </div>
    
        <p> 
            Coordenação de Serviços, 3680-5291. FAX, 3680-5128. Coordenação (Manoel Leão) ... Coordenação de Serviços, 3680-5503. CTRAN. Coordenação de Transportes, 3680-5089. 
            A UESC; Estrutura Organizacional; Serviços; Destaques; Graduação · Pós-Graduação · Extensão; Servidores; Fale Conosco · A história Localização Regimento
        </p>

        
</section>
