<p *ngIf="loadedConsulta.length < 1">Não existem consultas cadastradas!</p>
<table class="tickets-table" *ngIf="loadedConsulta.length >=1">
    <thead>
      <tr>
        <th>Nome Paciente: </th>
        <th>Nome Tutor: </th>
        <th>Endereço: </th>
        <th>Email: </th>
        <th>Data da consulta: </th>
        <th>Data de nascimento do paciente: </th>
        <th>Raça: </th>
        <th><button (click)="apagarTudo()">Apagar Tudo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of loadedConsulta">
        <td>{{ ticket.nomePaciente }}</td>
        <td>{{ ticket.nomeTutor }}</td>
        <td>{{ ticket.endereco }}</td>
        <td>{{ ticket.email }}</td>
        <td>{{ ticket.data }}</td>
        <td>{{ ticket.dataNascimento }}</td>
        <td>{{ ticket.raca }}</td>
        <td colspan="1">{{ ticket.nomePaciente }}</td>
        <td><button type="button" class="btnEditar" routerLink="/editar/{{ticket.id}}">Editar</button></td>
      </tr>
    </tbody>
  </table>
