footer {
    background-color: bisque;
    padding: 20px;
    margin-top: 12px;
    text-align: center;
    border: 1px solid #000;
    color: rgba(5, 5, 5, 0.901);
}
.divisao1 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-gap: 5px;
}
.divisao2{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 5px;  
    margin-top: 5px;
}